.hero-main{
    background: url('./../../assets/images/banner-bg.jpg') no-repeat top right/cover ;
    background-color: var(--color-dark);
    color: var( --color-light);
    border-radius: var(--border-radius-primary);
    padding: var(--padding-pramiry);
  
}
.hero-text {
    max-width: 500px;
}
.hero-title{
    font-size: 60px;
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--margin-primary)/2);
}
.hero-title em{
    font-style: normal;
    color: var(--color-primary);
}
.hero-subTitle{
    font-weight: var(--font-weight-normal);
    font-size: 20px;
    margin-bottom: calc(var(--margin-primary)/2);
    color: white;
}
body{
    background-color: var(--color-darkest);
    font-family: var(--font-family-primary);
}